
body {	
    background-image: url("../../assets/images/questionMarks3.jpg");
    font-family: 'Barlow Condensed', sans-serif;
}

#start-button {
    /* background-color: transparent; */
    border: 2px solid;
    box-shadow: 4px 4px red;
    }

.jumbotron {
    background-image: url("../../assets/images/questionMarks3.jpg");
    font-size: 100px;
    color: red;
    text-shadow: 4px 4px black;
}

#questionSection {
    font-size: 65px;
    color: red;
    background: black;
}

#timer {
    font-size: 45px;
    color: black;
    /* text-shadow: 2px 2px red; */
    background: transparent;
}

#scoreboard {
    font-size: 50px;
    color: black;
    /* text-shadow: 2px 2px red; */
    background: transparent;
}

.answer {
    font-size: 35px;
    border: 1px solid;
    width: 30%;
    white-space: normal;
}

#lose {
    border-radius: 9%;
}

#winSection{
    font-size: 50px;
    color: red;
    text-shadow: 2px 2px black;  
}


