body {
    background-image: url("../images/question-marks-large-black-red.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
}

.jumbotron {
    margin: 10px;
    padding: 0;
    font-size: 50px;
    background: transparent;
    border-style: solid;
    border-color: white;
}

#start-button {
    background: transparent;
    border-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content {
    min-height: calc(100vh - 110px);
}

#footer {
    height: 75px;
    margin: 10px;
    font-size: 15px;
}
